<%- include('partials/header'); -%>

    <% let today=new Date(); %>
        <h1>
            <%= today.toDateString() %>
        </h1>

        <% posts.forEach((post)=> { %>
            <h1>
                <%=post.title%>
            </h1>
            <p id="max-char">
                <%=post.body%>
            </p>
            <a href="/posts/<%=post.title%>"> Read More</a>
            <% }) %>
                <%- include('partials/footer'); -%>